div {
	background-color: #9E41D5;
}
#Content{
	border: solid 24px black;
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		text-align: center;
}
#Content2{
	border: solid 24px black;
		  opacity: 0.3;
    filter: alpha(opacity=30); 
		float: left;
}
body{
	background-image: url(intersection.png);
}
li{
	list-style-type: none;
}
body{
	font-family: Arial;
	color: green;
	font-weight: bold;
	padding: 100px;
}
h2{
	font-family: "fantasy";
	font-size: 60px;
	color: #E74C3C;
}
p.groove {border-style: groove;}
